textarea,input[type=text],input[type=email],input[type=number]
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.toptext{
    font-family: 'Itim', cursive;
    margin-bottom: 5%;
}

.fonmailaddress{
    display: flex;
    /* border:4px solid blue; */
    align-items: center;
    justify-content: center;
    width: 100%;
    height:60%;    

}
.contactthrough{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 80%;
    /* border: 3px solid salmon; */
}
.message{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    width:60%;
    height:90%;
}
.message textarea{width: 80%;
    height: 80%;
    outline:none;
    border:3px solid black;
    border-radius: 20px;
    padding: 3%;
}
.fontawesomelogos{
    display: flex;
    flex-direction: row;
    /* border:3px solid yellow; */
    justify-content: space-around;
    align-items: center;
    margin-bottom:5%;
    width: 100%;
}

.fontawesomelogos div{
    color: #d1a102;
    /* border: 2px solid green; */
}
.fontawesomelogos div div{
    color: whitesmoke;
}

.detailmsg{
    display: flex;
    justify-content: center;
    width: 40%;
    height: 70%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

input{
    outline:none;
    border:3px solid black;
    border-radius: 20px;
    width: 90%;
    height: 35%;
    padding-left: 5%;
    margin-bottom:10%;
}

@media only screen and (max-width: 600px)
  {
.lbl{
    font-size:12px ;
}

}
  @media only screen and (min-width: 600px)
  {
    .reachicon{
    font-size: 25px;
            }
}

  @media only screen and (min-width: 768px)
  {  
    .reachicon{
        font-size: 35px;
      }

      input,.label{
        font-size:15px;
    }
}
@media only screen and (min-width: 992px)
{
    .toptext{
        font-size: 20px;
    }
    .reachicon{
        font-size: 45px;
      }
      input,.label{
        font-size: 20px;
    }
}